# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Atlas Configuration
MONGODB_URI=mongodb+srv://preethisampath123d_db_user:zvbl1LghZzKr5pvt@cluster0.pkphqpz.mongodb.net/pharmacyDB?retryWrites=true&w=majority

# CORS Configuration
CORS_ORIGIN=http://localhost:3000


# Logging
LOG_LEVEL=info

# JWT Configuration
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=7d
